src/main/resources/Log4j-events.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one or more
 contributor license agreements.  See the NOTICE file distributed with
 this work for additional information regarding copyright ownership.
 The ASF licenses this file to You under the Apache License, Version 2.0
 (the "License"); you may not use this file except in compliance with
 the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<!--DTD generated by XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com)-->
<!--the entity declarations may be overridden in the internal subset-->
<!--namespace prefixes-->
<!ENTITY % log4j_prefix "log4j">
<!--namespace prefix to namespace uri mappings-->
<!ENTITY % log4j_prefix.. "%log4j_prefix;:">
<!--namespaces attributes for root element-->
<!ENTITY % documentElementAttributes " xmlns:%log4j_prefix; CDATA 'http://logging.apache.org/log4j/2.0/events'">
<!--the declarations below should not be modified-->
<!--element name mappings-->
<!ENTITY % log4j..Events "%log4j_prefix..;Events">
<!ENTITY % log4j..Event "%log4j_prefix..;Event">
<!ENTITY % log4j..Message "%log4j_prefix..;Message">
<!ENTITY % log4j..NDC "%log4j_prefix..;NDC">
<!ENTITY % log4j..Throwable "%log4j_prefix..;Throwable">
<!ENTITY % log4j..LocationInfo "%log4j_prefix..;LocationInfo">
<!ENTITY % log4j..Properties "%log4j_prefix..;Properties">
<!ENTITY % log4j..Data "%log4j_prefix..;Data">
<!--element and attribute declarations-->
<!--Log4J 2.0 XML Schema-->
<!ELEMENT %log4j..Events; ((%log4j..Event;)*)>
<!ATTLIST %log4j..Events;
	%documentElementAttributes;
>
<!ELEMENT %log4j..Event; (%log4j..Message;, (%log4j..NDC;)?, (%log4j..Throwable;)?, (%log4j..LocationInfo;)?, (%log4j..Properties;)?)>
<!ATTLIST %log4j..Event;
	logger CDATA #REQUIRED
	timestamp NMTOKEN #REQUIRED
	level (OFF | FATAL | ERROR | WARN | INFO | DEBUG | TRACE | ALL) #REQUIRED
	thread CDATA #REQUIRED
>
<!ELEMENT %log4j..Message; ANY>
<!ELEMENT %log4j..NDC; ANY>
<!ELEMENT %log4j..Throwable; ANY>
<!ELEMENT %log4j..LocationInfo; EMPTY>
<!ATTLIST %log4j..LocationInfo;
	class CDATA #REQUIRED
	method CDATA #REQUIRED
	file CDATA #REQUIRED
	line NMTOKEN #REQUIRED
>
<!ELEMENT %log4j..Properties; ((%log4j..Data;)+)>
<!ELEMENT %log4j..Data; EMPTY>
<!ATTLIST %log4j..Data;
	name CDATA #REQUIRED
	value CDATA #REQUIRED
>
